<h4 class='text-info'>
    Crediti
</h4>
<hr class='hr-gray-lighter-less'>
<p class='text-primary'>
    <h3>Rtino</h3>
    Gestionale Web creato con tecnologia
    <a href='https://rubyonrails.org/' title='Ruby On Rails' target='new'>Ruby On Rails</a>
    <br>
    Versione: <strong class='text-primary'>1.0.0</strong>
</p>
<br>
<div>
    <small>
        Sono state usate alcune icone da:
        <a href='https://www.flaticon.com/authors/freepik' title='Freepik' target='new'>Freepik</a>
        &nbsp;da&nbsp;
        <a href='https://www.flaticon.com/' title='Flaticon' target='new'>www.flaticon.com</a>
        <br>
        Sono stati usati alcuni font da:
        <a href='https://fontawesome.com' title='Font Awesome' target='new'>Font Awesome</a>
    </small>
</div>
