<div class="text-centered">
  <br>
  <br>
  <br>
  <%= inline_svg('LogInLogo.svg', size: '256px * 90px', preserve_aspect_ratio: 'xMaxYMax meet') %>
  <br>
  <hr>
  <br>
  Web App to manage reports and more.
</div>
