$web-font-path: 'https://fonts.googleapis.com/css?family=Oswald&display=swap' !default;
@import url($web-font-path);
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.table-striped {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 300;
}

.text-centered {
  text-align: center;
}

.text-primary {
  color: #5d6c1c;
}

.hr-primary {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #5d6c1c;
  margin: 1em 0;
  padding: 0;
}

@page {
  size: A4;
  orientation: landscape;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
