<h3>
  <%= inline_svg('report_icon.svg', size: '32px * 32px', preserve_aspect_ratio: 'xMaxYMax meet') %>
  &nbsp;<strong class="text-primary">Editing the Current Report</strong>
  <span class='pull-right'>
    <h6>
      <%= link_to reports_path do %>
        <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Back
      <% end %>
      &nbsp;|&nbsp;
      <%= link_to @report do %>
        <i class="fas fa-eye"></i>&nbsp;&nbsp;Show
      <% end %>
    </h6>
  </span>
</h3>
<hr class="hr-primary">
<br>
<%= render 'form', report: @report %>
<br>
